extends layout

block navbar
  ul.nav.nav-pills.pull-right
    li
      a(href='../') Home
    li
      a(href='/search') Search  
    li
      a(href='/contribute') Contribute
    li.active
      a(href='/about') About
    li
      a(href='/contact') Contact
  div.spacer

block content
  div
    h4 About
    p
    p This site was created by a concerned individual who simply cares about what we eat. 
    p Thanks for stopping by!
    p
      | <br /><br />
      | <i> The source code for this open-source project can be found on 
      | <a href="https://github.com/dbetke/know-your-food">GitHub</a></i>.
