extends layout


block navbar
  ul.nav.nav-pills.pull-right
    li
      a(href='../') Home
    li
      a(href='/search') Search  
    li
      a(href='/contribute') Contribute
    li
      a(href='/about') About
    li.active
      a(href='/contact') Contact
  div.spacer
  
block content
  div
    h4 Contact Us
    p
      form(method='post',action='')
        label Your Name
        input(type='text', name='name', required)
        
        label Your Email Address
        input(type='text', name='email', required)
        
        label Message
        textarea(rows='5', name='message', required)
        p
        input(type='submit', name='contact', value='Send').a.btn
