extends layout

block content

  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right
        li.active
          a(href='../') Home
        li
          a(href='/search') Search  
        li
          a(href='/contribute') Contribute
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
      div.spacer
      
    hr
    
    div.jumbotron
      h1 Know Your Food
      p.lead Do you know what is in your food?  Find out now!
    
    hr 
    
    div.row-fluid.marketing
      div.span6
        h4 Search Product Ingredients
        p Access our ever-growing database of product ingredient information.      
        a.btn.btn-large.btn-success(href='/search') Search

      div.span6
        h4 Contribute Ingredient Information
        p We value your contributions.  If you have ingredient information, let us know!
        a.btn.btn-large.btn-success(href='/contribute') Contribute

    hr
    
    div.footer
      p KnowYourFood 2013



    
