extends layout

block navbar
  ul.nav.nav-pills.pull-right
    li
      a(href='../') Home
    li.active
      a(href='/search') Search  
    li
      a(href='/contribute') Contribute
    li
      a(href='/about') About
    li
      a(href='/contact') Contact
  div.spacer
      
block content  
  div.row.span3.offset2.center
    h4 Search Product Ingredients
    p
      form(method='post',action='/search_results') 
        label Brand
        input(type='text', name='brandname', id='brandname')

        label Product
        input(type='text', name='productname', id='productname')

        label Ingredient
        input(type='text', name='ingredient', id='ingredient')
        
        label 
        input(type='checkbox', name='notIngredient', id='notIngredient')
        nbsp 
        i Check the box to search for products that do not contain specified ingredient
        p
        input(type='submit', name='search', value='Search').a.btn
  div.container.narrow