extends layout

block navbar
  ul.nav.nav-pills.pull-right
    li
      a(href='../') Home
    li
      a(href='/search') Search  
    li
      a(href='/contribute') Contribute
    li
      a(href='/about') About
    li
      a(href='/contact') Contact
  div.spacer

block content  
  div
    h4 Search Results
    p

block results
  if results.length > 0
    -for result in results
      b=result.brandname + " " + result.productname 
      p=result.ingredients
  else
    p Sorry, no results found.
    br
    a.btn.btn-success(href='/search') New Search