extends layout

block append script
  script
    $('document').ready(function () {
      $('b').css({'cursor':'pointer'});

      $('b').click(function () {
        if ($(this).next('p').is(':visible')) {
          $(this).next('p').hide();
          $(this).css({'color':'#D8D8D8'});
        } else {
          $(this).next('p').show();
          $(this).css({'color':'#000000'});
        }
      });
      
    });

block navbar
  ul.nav.nav-pills.pull-right
    li
      a(href='../') Home
    li
      a(href='/search') Search  
    li
      a(href='/contribute') Contribute
    li
      a(href='/about') About
    li
      a(href='/contact') Contact
  div.spacer

block content  
  div
    h4 Search Results
    p

block results
  if results.length > 0
    -for result in results
      b=result.brandname + " " + result.productname 
      p=result.ingredients
      p 
  else
    p Sorry, no results found.
    br
    a.btn.btn-success(href='/search') New Search