extends layout

block content

  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right
        li
          a(href='../') Home
        li.active
          a(href='/search') Search  
        li
          a(href='/contribute') Contribute
        li
          a(href='/about') About
        li
          a(href='/contact') Contact
      div.spacer
      
    hr
    
    div.span12
      h4 Search Product Ingredients
      form(method='post',action='') 
        label Brand Search
        input(type='text', name='brandname', id='brandname')

        label Product
        input(type='text', name='productname', id='productname')

        label Ingredient
        input(type='text', name='ingredient', id='ingredient')
        
        label Contains
        input(type='checkbox') 
        i Leave unchecked for results that do not contain specified ingredient
        p
        input(type='submit', name='search', value='Search').a.btn         

      hr
    
      div.footer
        p KnowYourFood 2013



    
