extends layout

block content

  div.container-narrow
    div.masthead
      ul.nav.nav-pills.pull-right
        li
          a(href='../') Home
        li
          a(href='/search') Search  
        li
          a(href='/contribute') Contribute
        li.active
          a(href='/about') About
        li
          a(href='/contact') Contact
      div.spacer
      
    hr
    
    div
      h4 About
      p This site was created by a concerned individual who simply cares about what we eat. 
      p Thanks for stopping by!

      hr
    
      div.footer
        p KnowYourFood 2013



    
