  <div class="container-narrow">

    <div class="masthead">
      <ul class="nav nav-pills pull-right">
      <li class="active"><a href="index.html">Home</a></li>
      <li><a href="search.html">Search</a></li>
      <li><a href="contribute.html">Contribute</a></li>
      <li><a href="about.html">About</a></li>
      <li><a href="contact.html">Contact</a></li>
      </ul>
      <h3 class="muted"><!--Project Name-->&nbsp</h3>
    </div>

    <hr>

    <div class="jumbotron">
      <h1>Know Your Food</h1>
      <p class="lead">Do you know what is in your food?  Find out now!</p>
    </div>

    <hr>

    <div class="row-fluid marketing">
      <div class="span6">
        <h4>Search Product Ingredients</h4>
        <p>Access our ever-growing database of product ingredient information.</p>        
        <a class="btn btn-large btn-success" href="search.html">Search</a>
        
        <!--
        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        -->
      </div>

      <div class="span6">
        <h4>Contribute Ingredient Information</h4>
        <p>We value your contributions.  If you have ingredient information, let us know! </p>         
        <a class="btn btn-large btn-success" href="#">Contribute</a>
        
        <!--
        <h4>Subheading</h4>
        <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

        <h4>Subheading</h4>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        -->
      </div>
    </div>

    <hr>

    <div class="footer">
      <p><!--&copy;--> KnowYourFood 2012</p>
    </div>

  </div> <!-- /container -->